@font-face {
  font-family: bluehighwaybd;
  src: url('bluehighwaybd.ttf') format('truetype'); }

@font-face {
  font-family: Matiz;
  src: url('Matiz.ttf') format('truetype'); }

.fancy {
  line-height: 1;
  text-align: center;
  overflow: hidden;
  padding: 10px; }
  .fancy span {
    display: inline-block;
    position: relative; }
  .fancy span:before, .fancy span:after {
    content: "";
    position: absolute;
    height: 10px;
    border-bottom: 3px solid black;
    /*border-top: 1px solid black;*/
    top: 0;
    width: 600px; }
  .fancy span:before {
    right: 100%;
    margin-right: 15px; }
  .fancy span:after {
    left: 100%;
    margin-left: 15px; }

.fancy-white {
  line-height: 1;
  text-align: center;
  overflow: hidden;
  padding: 10px; }
  .fancy-white span {
    display: inline-block;
    position: relative; }
  .fancy-white span:before, .fancy-white span:after {
    content: "";
    position: absolute;
    height: 10px;
    border-bottom: 3px solid #fbfbfb;
    /*border-top: 1px solid black;*/
    top: 0;
    width: 600px; }
  .fancy-white span:before {
    right: 100%;
    margin-right: 15px; }
  .fancy-white span:after {
    left: 100%;
    margin-left: 15px; }

html {
  background: url(img/background.jpg) no-repeat center center fixed;
  font-family: Matiz;
  font-family: bluehighwaybd; }

body {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  color: #fbfbfb; }

h2 {
  color: white;
  font-size: 36px;
  margin-bottom: 0;
  text-transform: capitalize; }

.fullabsolute, .bg, .bg:after, .slide-on .stripe .project-image a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.relative {
  position: relative; }

.container {
  position: relative;
  margin: 30px; }

.bg {
  position: fixed;
  z-index: -1;
  background: url(img/background.jpg) no-repeat center center fixed;
  background-size: cover; }
  .bg:after {
    content: "";
    background: rgba(0, 0, 0, 0.25);
    transition: all 1s; }

.slide-on {
  overflow: hidden;
  position: absolute;
  width: 100%;
  margin-top: 200px; }
  .slide-on .stripe {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 100px;
    font-size: 0;
    background: black;
    left: 101%;
    transition: all 1s;
    transition-delay: 0s; }
    .slide-on .stripe.big {
      height: 100%; }
      .slide-on .stripe.big .gallery {
        width: 100%;
        margin: auto;
        text-align: center; }
        .slide-on .stripe.big .gallery img {
          width: 23%;
          min-width: 400px;
          padding: 30px 1%; }
    .slide-on .stripe div {
      display: inline-block;
      vertical-align: top;
      height: 100%;
      font-size: 16px;
      z-index: 4;
      position: relative; }
    .slide-on .stripe .project-logo {
      width: 100px; }
    .slide-on .stripe .project-image {
      height: 300px;
      width: calc(100% - 400px);
      transition: all 1s; }
    .slide-on .stripe .project-text {
      width: 300px;
      max-width: calc(100% - 100px);
      color: white; }
      .slide-on .stripe .project-text .padding {
        padding: 20px; }
    .slide-on .stripe h3, .slide-on .stripe h4, .slide-on .stripe p {
      margin: 0; }
    .slide-on .stripe h3 {
      font-size: 30px; }
    .slide-on .stripe h4 {
      font-size: 20px;
      border-bottom: 3px solid white;
      padding-bottom: 5px; }
    .slide-on .stripe p {
      font-size: 18px;
      margin-top: 20px; }
    .slide-on .stripe .hiddencontent {
      position: relative;
      width: 100%;
      height: calc(0% + 300px);
      background: #d0c6af;
      top: -300px;
      z-index: 3;
      transition: all 2s;
      transition-delay: 1s;
      overflow: hidden;
      opacity: 0; }
      .slide-on .stripe .hiddencontent .padding {
        display: block;
        padding: 30px;
        max-width: 1200px;
        margin: auto; }
      .slide-on .stripe .hiddencontent img.imgsmall {
        width: 500px;
        max-width: 100%;
        padding: 50px; }
      .slide-on .stripe .hiddencontent img.imgleft {
        float: left;
        padding-left: 0; }
      .slide-on .stripe .hiddencontent img.imgright {
        float: right;
        padding-right: 0; }
      .slide-on .stripe .hiddencontent h3 {
        font-size: 40px;
        text-align: center; }
      .slide-on .stripe .hiddencontent p {
        margin-top: 50px; }
    .slide-on .stripe.open {
      height: 100%;
      width: 90%;
      margin: auto;
      margin-bottom: 100px; }
      .slide-on .stripe.open .project-image {
        width: 100%; }
      .slide-on .stripe.open .project-logo, .slide-on .stripe.open .project-text {
        display: none; }
      .slide-on .stripe.open .hiddencontent {
        top: 0;
        height: calc(100% + 0px);
        opacity: 1; }
        .slide-on .stripe.open .hiddencontent h4 {
          border-bottom: none; }
    .slide-on .stripe.close {
      height: 0;
      margin-bottom: 0;
      opacity: 0;
      transition: all 0s;
      transition-delay: 0s; }
    .slide-on .stripe.egy .project-logo {
      background: url(img/projects/egy/logo.jpg) no-repeat center center;
      background-size: contain; }
    .slide-on .stripe.egy .project-image {
      background: url(img/projects/egy/3d/Cafe.jpg) no-repeat center center;
      background-size: 100%; }
      .slide-on .stripe.egy .project-image:hover {
        background-size: 120%; }
    .slide-on .stripe.miss60 .project-logo {
      background: url(img/projects/miss60/m60-logo.png) no-repeat center center;
      background-size: contain; }
    .slide-on .stripe.miss60 .project-image {
      background: url(img/projects/miss60/boards/Visual4.jpg) no-repeat center center;
      background-size: 100%; }
      .slide-on .stripe.miss60 .project-image:hover {
        background-size: 120%; }
    .slide-on .stripe.future .project-logo {
      background: white;
      background: url(img/projects/miss60/m60-logo.png) no-repeat center center;
      background-size: contain; }
    .slide-on .stripe.future .project-image {
      background: white;
      background: url(img/projects/future/futureplan.jpg) no-repeat center center;
      background-size: 100%; }
      .slide-on .stripe.future .project-image:hover {
        background-size: 120%; }

.hider {
  opacity: 0;
  transition-delay: 1s; }

.about .hider {
  opacity: 1;
  transition-delay: 1s; }

.aboutpage {
  position: absolute;
  top: calc(100% + 0px);
  left: 0;
  right: 0;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  color: black;
  transition: all 1s;
  transition-delay: 0s; }
  .aboutpage h2 {
    color: black; }
  .aboutpage .padding {
    padding: 20px; }
  .aboutpage .se-container {
    display: block;
    width: 100%;
    overflow: hidden;
    padding-top: 150px; }
  .aboutpage .se-slope:nth-child(odd) {
    background: #000;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    margin-top: -200px;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.4); }
  .aboutpage .se-slope {
    margin: 0 -50px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center; }

.logo-out {
  position: fixed;
  top: calc(50% - 200px);
  left: 50%;
  height: 400px;
  width: 400px;
  color: white;
  z-index: 9;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  transition-delay: 1s; }
  .logo-out:after {
    content: "";
    position: absolute;
    top: 0;
    left: -384px;
    width: calc(100% + 368px);
    height: calc(100% - 38px);
    background: black;
    z-index: -1;
    opacity: 0;
    transition: all 0.4s;
    transition-delay: 0s; }
  .logo-out .logo {
    position: relative;
    /* top: -50%; */
    left: -50%;
    height: 400px;
    width: 400px;
    fill: white;
    color: white;
    overflow: visible;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    transition-delay: 1s; }
    .logo-out .logo .logo-in {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: visible; }
      .logo-out .logo .logo-in .leftbracket, .logo-out .logo .logo-in .rightbracket {
        transform: translate(0);
        -moz-transition: all 1s;
        -o-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
        transition-delay: 0s; }
      .logo-out .logo .logo-in .top, .logo-out .logo .logo-in .bot {
        transform: translateY(0mpx); }
      .logo-out .logo .logo-in .R-curl, .logo-out .logo .logo-in .D-curl {
        transition-delay: 0s;
        transition: all 1s; }
    .logo-out .logo .contactcard {
      opacity: 0;
      position: absolute;
      width: 192%;
      height: 90%;
      left: -46%;
      transition: all 0.3s;
      transition-delay: 0s; }
      .logo-out .logo .contactcard .padding {
        padding: 20px; }
      .logo-out .logo .contactcard h2, .logo-out .logo .contactcard h3 {
        position: initial;
        margin: auto;
        text-align: center; }
      .logo-out .logo .contactcard h2 {
        font-size: 40px; }
      .logo-out .logo .contactcard h3 {
        font-size: 30px; }
      .logo-out .logo .contactcard .contactinfo {
        position: absolute;
        right: 50px;
        bottom: 50px;
        font-size: 20px; }
      .logo-out .logo .contactcard .contactpic {
        position: absolute;
        left: 50px;
        bottom: 50px;
        width: 200px;
        height: 200px; }
  .logo-out h3 {
    position: absolute;
    left: 0;
    margin: 0;
    bottom: 0;
    font-size: 25px;
    transition: all 1s;
    transition-delay: 1s; }

.menu {
  position: fixed;
  right: 30px;
  top: 30px;
  display: inline-block;
  margin: 0;
  margin-left: 190px;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  z-index: 9; }
  .menu li {
    display: inline;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    -webkit-transition: all 2s;
    transition: all 2s;
    border-left: 5px solid white;
    padding-left: 10px; }
    .menu li a {
      color: white;
      text-decoration: none; }

.selectedmenu, .home .menu li a.home, .portfolio .menu li a.portfolio, .graphic-design .menu li a.graphic-design, .photography .menu li a.photography, .life-drawing .menu li a.life-drawing, .about .menu li a.about, .contact .menu li a.contact {
  text-decoration: underline; }

.portfolio .bg:after {
  background: rgba(0, 0, 0, 0.75); }
.portfolio .logo-out {
  width: 150px;
  height: 150px;
  top: 30px;
  left: 30px;
  transition-delay: 0s; }
  .portfolio .logo-out h3 {
    left: 0;
    font-size: 10px;
    transition-delay: 0s; }
  .portfolio .logo-out .logo {
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
    transition-delay: 0s; }
.portfolio .portfoliopage.slide-on .stripe {
  left: 0%;
  transition-delay: 1s; }

.photography .photographypage.slide-on .stripe {
  left: 0%;
  transition-delay: 1s; }

.graphic-design .graphic-designpage.slide-on .stripe {
  left: 0%;
  transition-delay: 1s; }

.life-drawing .life-drawingpage.slide-on .stripe {
  left: 0%;
  transition-delay: 1s; }

.photography .bg:after, .graphic-design .bg:after, .life-drawing .bg:after {
  background: rgba(0, 0, 0, 0.75); }
.photography .logo-out, .graphic-design .logo-out, .life-drawing .logo-out {
  width: 150px;
  height: 150px;
  top: 30px;
  left: 30px;
  transition-delay: 0s; }
  .photography .logo-out h3, .graphic-design .logo-out h3, .life-drawing .logo-out h3 {
    left: 0;
    font-size: 10px;
    transition-delay: 0s; }
  .photography .logo-out .logo, .graphic-design .logo-out .logo, .life-drawing .logo-out .logo {
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
    transition-delay: 0s; }

.about .aboutpage {
  top: calc(0% + 200px);
  transition: all 2s;
  transition-delay: 1s; }
.about .logo-out {
  width: 150px;
  height: 150px;
  top: 30px;
  left: 30px;
  transition-delay: 0s; }
  .about .logo-out h3 {
    left: 0;
    font-size: 10px;
    transition-delay: 0s; }
  .about .logo-out .logo {
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
    transition-delay: 0s; }

.contact .logo-out:after {
  opacity: 0.8;
  transition: all 2s;
  transition-delay: 1s; }
.contact .logo-out .logo .leftbracket, .contact .logo-out .logo .rightbracket {
  transition-delay: 0.8s; }
.contact .logo-out .logo .leftbracket {
  transform: translate(-1000px); }
.contact .logo-out .logo .rightbracket {
  transform: translate(1000px); }
.contact .logo-out .logo .R-curl, .contact .logo-out .logo .D-curl {
  opacity: 0;
  transition-delay: 2s;
  transition: all 1s; }
.contact .logo-out .logo .contactcard {
  opacity: 1;
  transition: all 1s;
  transition-delay: 2s; }

@media only screen and (max-width: 780px) {
  .menu {
    font-size: 25px; }
  .logo-out {
    top: calc(50% - 75px);
    width: 400px;
    height: 400px; }
    .logo-out .logo {
      width: 400px;
      height: 400px; }
  .portfoliopage .stripe {
    height: 300px;
    margin-bottom: 50px; }
  .contact .logo-out {
    top: calc(00% + 190px);
    width: 400px;
    height: 400px; }
    .contact .logo-out .logo .rightbracket {
      transform: translate(0px); }
    .contact .logo-out .logo .leftbracket {
      transform: translate(0px); }
    .contact .logo-out .logo .top {
      transform: translateY(-0px); }
    .contact .logo-out .logo .bot {
      transform: translateY(0px); }
    .contact .logo-out .logo .contactcard {
      width: 100%;
      left: 0; }
      .contact .logo-out .logo .contactcard .contactpic {
        left: 100px;
        opacity: 0.3; }
    .contact .logo-out:after {
      top: calc(100% - 400px);
      left: calc(100% - 600px);
      width: calc(100%);
      height: calc(100%); } }

/*# sourceMappingURL=stylesheet.css.map */